/*declare variables*/
:root {
  --font: 'Inconsolata', monospace;
}

#nav-bar {
  background-color: grey;
  height: 30px;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
}

.nav-text{
  color: white;
  text-decoration: none;
  font-family: var(--font);
  padding: 10px;
  float: right;
}

#main {
  display: block;
}

#img-div {
  display: block;
  height: 100vh;
    padding: 15px;
}

#image {
  width: 715px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#img-caption {
  text-align: center;
   font-family: var(--font);
}

#title {
  display: block;
  text-align: center;
  font-family: var(--font);
}

#quote {
  text-align: center;
  font-family: var(--font);
}

h2 {
  text-align: center;
    font-family: var(--font);
}

#tribute-info {
  display: block;
/*   background-color: yellow; */
  padding: 0 200px;
}

#tribute-link {
  display: block;
  text-align: center;
/*   background-color: green; */
}

#timeline {
/*   background-color: orange; */
  padding: 0 40px;
  font-family: var(--font);
}

#footer {
  background-color: grey;
  height: 60px;
}

#tribute-link {
  text-decoration: none;
  font-family: var(--font);
  color: white;
  padding: 25px;
}
